/* Stylesheet for GLPA Info-Display graphic */

/* Configure the body for use as a non-interactive display */
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12pt;
}

#wrapper {
    padding: 0px;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Header Elements */
#block-header {
    position: relative;
    width: 100%;
    height: 15%;
    background: #072346;
    color: #fff;
}

#block-header-logo {
    position: absolute;
    left: 1rem;
    top: 50%;
    width: 75px;
    margin-top: -37.5px;
}

#block-header-title {
    position: absolute;
    left: 25%;
    width: 50%;
    font-size: 2em;
    text-align: center;
    margin: auto;
}

#block-header-clock {
    position: absolute;
    right: 1rem;
    font-size: 1.5em;
    text-align: center;
}

/* Main body elements */
#block-main {
    height: 70%;
    padding: 1rem;
    background: url('../img/main-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clear:both;
}

/* Twitter Content */
#block-tweet {
    position: relative;
    height: 90%;
    background-color: #DDD;
    border-radius: 10px; 
    border: 3px solid rgb(175, 175, 175);
    padding: 5px;
    opacity: 0;
    transition-duration: 1s;
}

#block-twitter-logo {
    position: absolute;
    top: 2%;
    right: 2%;
}

#twitter-logo {
    width: auto;
    height: 100px;
}

#twitter-hashtag {
    font-weight: bold;
    font-size: 18px;
}

#block-twitter-user {
    position: absolute;
    left: 1em;
}

#block-twitter-tweet-wrapper {
    width: 75%;
    color: #000;
    float: left;
}

#tweet-avatar {
    max-width:15%;
    max-height:15%;
}

#block-twitter-content{
    
    font-weight: bold;
    float: left;
    padding: 2ex;
}

#block-twitter-tweet-text-wrapper {
    height: 100px;
}

#block-twitter-tweet-text {
    height: 75px;
}

.hashtag {
    font-size: larger;
    color: #336299;
}

.emoji {
    width: auto;
    height: 30%;
}

#block-twitter-tweet-metadata {
    padding-top: 1ex;
    font-size: smaller;
    font-style: italic
}

/* Ticker box content */

#block-ticker {
    position: absolute;
    height: 15%;
    width: 100%;
    background: #e6e6e6;
    color: #000;
    bottom: 0;
    transition-duration: 1s;
}

.block-weather {
    float: left;
    width: 20%;
    height: 100%;
    visibility: hidden;
}

.weather-title {
    font-weight: bold;
}

.weather-icon {
    float: right;
}
.weather-icon-canvas {
    width: 75px;
}

.attribution {
    padding-top: 20px;
    font-size: 8pt;
}