/**
 * GLPA Info Display Stylesheet
 * Sheet controls the layout of the information display page bundle
 **/

/**
 * Body Controls
 **/
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12pt;
}

/**
 * Keep inside your own box plz
 **/
* {
    box-sizing: border-box;
}

/**
 * General Z-Index Classes
 **/

 .z100 {
     z-index: 100;
 }

 .z200 {
     z-index: 200;
 }

 .z300 {
     z-index: 300;
 }

 .z400 {
     z-index: 400;
 }

 /**
  * Layout Classes
  **/

/**
 * Standard Positioning
 **/

.pos-bot-left {
    position: absolute;
    left: 0;
    bottom: 0;
}

/**
 * Flex Stuff
 **/
.flex {
    display: flex;
}

.fg1 {
    flex-grow: 1;
}

.fg2 {
    flex-grow: 2;
}

.fg3 {
    flex-grow: 3;
}

.fg4 {
    flex-grow: 4;
}

.jsb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}

/**
 * Spacing
 **/
.p1rem {
    padding: 1rem;
}

.h15 {
    height: 15%;
}

.h20 {
    height: 20%;
}

.h70 {
    height: 70%;
}

.h80 {
    height: 80%;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.padleft1rem {
    padding-left: 1rem;
}

/**
 * Text Stuff
 **/

.fs07em {
    font-size: 0.7em;
}
.fs1em {
    font-size: 1em;
}

.fs1-5em{
    font-size: 1.5em;
}

.fs2em {
    font-size: 2em;
}

.fs3em {
    font-size: 3em;
}

.tac {
    text-align: center;
}

.whiteshadow {
    text-shadow:
        -1px -1px 0 #ffffff,
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff,
        1px 1px 0 #ffffff;
}

.blackshadow {
    text-shadow:
        -1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000;
}

.bold {
    font-weight: bold;
}

.color-white {
    color: white;
}

/**
 * Misc. Styles
 **/

.round-border {
    border-radius: 10px;
    border: 3px solid rgb(175, 175, 175);
}

.bg-dark-gray {
    background: #cecece;
}

.bg-light-gray {
    background: #DDD;
}

/**
 * Layout configuration
 * Create three main horizontal areas on the screen to contain the elements we'll place
 **/

/**
 * Header component
 **/
#block-header {
    background: #072346;
    color: #fff;
}

/**
 * Middle: Main Content Body
 **/
#block-main {
    background: url('../img/main-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/**
 * Bottom: Omnibar
 **/
#block-omnibar {
    background: #e6e6e6;
    color: #000;
}

/**
 * Elements for the header area
 **/

#block-header-logo img {
    display: block;
}

/** 
 * Elements for the main section
 **/

/**
 * Twitter Section
 **/

/**
 * #block-twitter defines the container block for all Twitter content on the page
 **/
#block-twitter {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    opacity: 0;
    transition-duration: 1s;
    position: relative;
}

/** 
 * #block-tweet-author contains the avatar, user's name and Twitter handle
 **/

#tweet-author-avatar img {
    max-height: 100%;
    max-width: 100%;
}

/**
 * #block-twitter-logo contains the Twitter logo and the conference hashtag
 **/

#twitter-hashtag {
    color: #1ca0f2;
    font-weight: bolder;
}

/**
 * Shared classes for Twitter stuff
 **/

/**
 * This is the official conference hashtag; broken out to highlight it separately
 **/
.hashtag-official-highlight {
    font-weight: bold;
    color: #1ca0f2;
    text-shadow:
        -1px -1px 0 #FFF,
        1px -1px 0 #FFF,
        -1px 1px 0 #FFF,
        1px 1px 0 #FFF;
}

/**
 * This is a general hashtag -- anything not the conference hashtag.
 **/

.hashtag-general-highlight {
    font-weight: bolder;
}

/**
 * Handle highlight is to highlight screennames within a tweet text, not the page handle
 **/
.handle-highlight {
    color: rgb(27, 149, 224);
}

.emoji {
    width: auto;
    height: 1em;
}

/**
 * Twitter layouts
 * The following are selectors to control the various ways we lay out tweets on the page.
 **/

/**
 * Tweet - Text Only
 * Tweet only has text; no images to share.
 **/

.tweetLayoutTextOnly #block-twitter-tweet-text {
    height: 100%;
    width: 100%;
}

.tweetLayoutTextOnly #block-twitter-tweet-media {
    visibility: hidden;
}

/**
 * Tweet - Single Picture
 * Tweet has a single media element to display
 **/

.tweetLayout1Up #block-tweet-content.after {
    align-self: center;
}

.tweetLayout1Up #block-twitter-tweet-text {
    flex-grow: 1;
    color: #000;
    padding-left: 1rem;
    align-self: stretch;
    width: 100%;
    height: 100%;
}

.tweetLayout1Up #block-twitter-tweet-media {
    flex-basis: 100%;
    height: 100%;
    margin: auto;
}

.tweetLayout1Up #block-twitter-tweet-media img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

/**
 * End of Twitter layout selectors
 **/

/** 
 * Omnibar areas
 **/

.vr {
    background: #000;
    width: 1px;
    height: 100%;
    display: inline-block;
}

 #block-weather {
     position: relative;
     display: inline-block;
     width: 100%;
     height: 100%;
 }

.block-weather-tile {
    width: 32%;
    height: 100%;
    display: inline-block;
    padding: 1rem;
    position: relative;
    top: 0;
    vertical-align: top;
}

.weather-text {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}
.weather-icon {
    display: inline-block;
    height: 100%;
}

.weather-title {
    font-weight: bold;
}

.weather-icon-canvas {
    max-height: 100%;
    max-width: 100%;
}

.attribution {
    padding-top: 20px;
    font-size: 8pt;
}
