/* Stylesheet for GLPA Info-Display graphic */

/* Draw everything for the box within the box.  duh. */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Configure the body for use as a non-interactive display */
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12pt;
}

.container {
    padding: 5px;
}

/* Specify configurations for different monitors */
.container.hd1080 {
    width: 1920px;
    height: 1080px;
}

.container.xga {
    width: 1024px;
    height: 768px;
}


/* Set background image z-index to -1 */
.background-images img {
    z-index: -1;
    position: absolute;
    opacity: 0;
}

/* Blocking configuration */
.header {
    height: 165px;
    border-bottom: thick white solid;
}

.main {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding-top: 10px;
    height: 450px;
}

.twitter {
    height: 130px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#header-title {
    font-size: 32pt;
    font-weight: bolder;
    text-align: center;
    color: #FFFFFF;
    -webkit-text-stroke: 1px black;
}

/* Time/Date/Forecast Table */
.time-date-forecast {
    width: 100%;
    text-align: center;
    font-size: 14pt;
    color: #000000;
    text-shadow: 0px 0px 10px white; /* outer glow */
}
td {
    padding: 10px;
}

canvas.weather-icon {
    display: block;
    float: left;
}

div.mainbody {
    position: absolute;
    width: 750px;
    padding: 10px;
    font-size: 26pt;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
}

.twitter-logo {
    margin-left: 10px;
    width: 100px;
    height: 130px;
    text-align: center;
}

#twitter-logo {
    width: auto;
    height: 100px;
    float: left;
}

#twitter-hashtag {
    font-weight: bold;
    font-size: 18px;
}

div.avatar {
    width: 125px;
    height: 130px;
    float: left;
    margin-left: 10px;
}
img#avatar {
    width: auto;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.twitter-content{
    width: 100%;
    margin-left: 10px;
    height: 130px;
    font-weight: bold;


}
.tweet {
    width: 550px;

}
.tweet-text {
    /*padding-top: 15px;*/
    /*font-size: 22px;*/
    height: 100px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 1);
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 1);
}

.tweet-metadata {
    height: 30px;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 1);
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}
div.tweet-media {
    width: 200px;
    height: 100%;
    float: right;
}
img#tweet-media {
    max-width:100%;
    max-height:100%;
    float: right;
    display: block;
}

.hashtag {
    font-size: larger;
}

img#tweet-img {
    height: 100%;
    width: auto;
    display: block;
}

.emoji {
    width: auto;
    height: 30%;
}

.attribution {
    font-size: 6pt;
}
